baseURL = "https://github.com/Muhammad-Anfaas/Muhammad-Anfaas.github.io"
title = "Anfaas Blog"
theme = "PaperMod"
languageCode = "en-us"

[params]
  defaultTheme = "auto"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true

[menu]

  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 10
